### https://raw.github.com/github/gitignore/298588469ac0cb08a00eebf7b00efb5ab726daca/Haskell.gitignore

dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virtualenv
.hsenv
.cabal-sandbox/
cabal.sandbox.config
cabal.config


